:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  transition: .3s ease;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5{
  font-family: 'Pixelify Sans', sans-serif;  
  font-weight: 700;
  transition: .3s ease;
}

body {
  background: white;
}

a, button {
  color: inherit;
  text-decoration: none;
  font-family: 'Pixelify Sans', sans-serif;
  transition: .3s ease;;
}

p, span {
  transition: .3s ease;
}

button {
  padding: 0px;
  margin: 0px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}





/* custom code starts here  */

/* template setting  */

main{
  display: block;
}

.container{
  max-width: 1800px;
  width: 95%;
  margin: 0px auto;
  display: block;
}

.panel{
  height: 100vh;
  padding: 120px 0px;
}

header{
  background: white;
  position: fixed;
  width: 100%;
  top: 0px;
  transition: .3s ease;
  z-index: 2;
  z-index: 9;
}

.scrollStyle{
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15);
}

.staticStyle{
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.0);
}

header h1{
  transition: .3s ease;
  font-weight: 300;
}

.staticStyle h1{
  font-size: 1rem;
  font-weight: 500;
}

.headerContainer{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.navContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 40px;
}

.socialMediaIcons{
  display: flex;
  gap: 10px;
}

.tagline{
  font-weight: 300;
  font-size: 1rem;
  margin-left: 20px;
  color: #444;
}

.tagline::before{
  content: '|';
  margin-right: 20px;
  color: #444;
}

.menuTrigger{
  display: flex;
  flex-direction: column;
  gap: 7px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

.menuTrigger span{
  background: black;
  height: 3px;
  width: 30px;
  transition: .3s ease; 
}

.menuOpen .menuTrigger span:nth-child(1){
  transform: rotate(-45deg);
}

.menuOpen .menuTrigger span:nth-child(2){
  transform: rotate(45deg);
  translate: -0px -9px;
}

.menuOpen .menuTrigger span:nth-child(3){
  opacity: 0;
}

.sideMenu{
  position: absolute;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  top: 0px;
  right: -100%;
  bottom: 0px;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  display:flex;
  justify-content: flex-end; 
  transition: .3s ease;
}

.menuOpen .sideMenu{
  right: 0px;
  max-width: 100vw;
}

.sideMenuPanel{
  background: white;
  max-width:300px;
  width:100%;
  height:100vh;
  right: 0px;
  padding: 40px;
  display: flex; 
  justify-content: space-between;
  flex-direction: column; 
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.5); 
}

.sideMenuPanel ul{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

footer{
  background: black;
  color: white;
  display: flex;
  height: 400px;
  padding: 50px 0px;
  position: relative;
  margin-top: 500px;
}

footer::before{
  content: '';
  height: 200px;
  width: 200vw;
  position: absolute;
  background: black;
  Z-index: -1;
  top: -100px;
  rotate: -5deg;
  left: -50vw
}

@media (min-width: 767px) {
  .desktopHidden{
    display: none;
  } 
}

@media (max-width: 767px) {
  .mobileHidden{
    display: none;
  }
}

/* loader  */

#nprogress{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 8;
  width: 100%;
  height: 100%;
  background: white;
  transition: .3s ease;
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: calc(50% - 30px)  !important;
  right: calc(50% - 30px)  !important;
}

#nprogress .spinner-icon {
  width: 60px !important;
  height: 60px !important;
  border: solid 5px transparent !important;
  border-top-color: black !important;
  border-left-color: black !important
}



/* dark mode  */

.darkMode body{
  background: black;
}

.darkMode header{
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(5px);
}

.darkMode > * {
  color: white;
}

.darkMode .tagline{
  color: white;
  opacity: .7;
}

.darkMode .blogPanel {
  background: black;
}



/* post page */

.createPost{
  margin-top: 120px;
  max-width: 1100px;
}

.postEditor{
  display: flex;
  gap: 10px;
  margin: 40px 0px;
}

.tiptapMenu{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tiptapMenu button{
  font-size: 1rem;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
}

.tiptapMenu .is-active{
  background: black;
  color: white;
}

.tiptapEditor{
  width: 100%;
}

.tiptap{
  min-height: 300px;
  height: 100%;
  border: 3px solid black;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  flex-shrink: 0;
}

.tiptap p{
  margin-bottom:10px;
}

.postArticle{
  background: black;
  color: white;
  font-size: 1rem;
  padding: 10px; 
  max-width: 400px;
  width: 100%;
  margin: 0px auto;
  display: block;
}

.validationError{
  display: block;
  background: rgb(228, 107, 107);
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
}

.postTop{
  background: #f1f1f1;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25); 
  display: flex;
  gap: 50px;
  justify-content: center;
}

.postTopContent{
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 500px;
  width: 100%;
}

.featuredImage{
  width: 500px;
  height: 300px;
  border-radius: 5px;
  border: 3px solid #444;
  flex-shrink: 0;
  position: relative;
  background: white;
  overflow: hidden;
}

.featuredImage span{
  position: absolute;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,0.8);
  color: white;
  top: 0px;
  padding: 2px;
  font-size: .8rem;
}

.uploadFeaturedImage{
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  color: white;
  background: black;
}

.titleInput{
  font-size: 1rem;
  padding: 10px;
}

.postTopContent label{
  display: flex;
}

.postTopContent label select{
  width: 100%;
  font-size: 1rem;
  padding: 0px 10px;
}

/* pre loader  */

.preLoader {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9;
  background: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.preLoaderElements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  margin: 0px auto;
  gap: 30px;
}

.typeBox {
  border-radius: 8px;
  border: 3px solid #ccc;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.typeElement{
  display: flex;
  gap: 5px;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.textCursor{
  background: black;
  width: 3px;
  height: 40px;
  animation: flash 1s infinite;
}

.typeBox button {
  border: 3px solid rgb(117, 208, 238);
  padding: 0px 20px;
  background: transparent;
  color: rgb(117, 208, 238);
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: .3s ease;
}

.typeBox span{
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 2rem;
}


/* home panel styling  */

.introPanel{
  padding-top: 250px;
  height: 1500px;
  position:relative;
}

.introContent{
  position: fixed;
  left: 0px; 
  right: 0px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 1s ease;
}

.introHead{
  font-size: 3rem;
  font-weight: 300;
  font-family: 'inter', sans-serif;
  margin-bottom: 50px;
  text-align: center;
}

@keyframes arrowAnim {
  0% { transform: translate(0, -60px); opacity: .3; }
  50% { transform: translate(0, -40px); opacity: .8;}
  100% { transform: translate(0, -60px); opacity: .3;}
}

.scrollDownButton{
  margin: 0px auto;
  display: block;
  font-size: 5rem;
  height: 75px;
  padding: 20px;
  position: relative;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(0, -60px);
  z-index: 1;
  cursor: pointer;
  animation-name: arrowAnim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.scrollDownButton svg{
  opacity: .7;
}

.introContent span{
  text-align: center;
} 

.introHead span {
  font-size: 15rem;
  display: block;
  margin: 20px;
  font-weight: 700;
}

/* portfolio panel  */

.portfolioPanel{
  z-index: 2;
  position: relative;
  height: fit-content;
}

.portfolioItems {
  display: flex;
  flex-direction: column;
  position: relative;
}

.portfolioAdminOptions {
  position: relative;
}

.portfolioAdminOptions .createNewItemToggle{
  position: absolute;
  top: 50px;
  right: 50px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  font-size: 3rem;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  z-index: 2;
}

.portfolioAdminOptions button span{
  height: 48px;
}

.portfolioItem, .portfolioEditor {
  display: flex;
  width: 100%;
}

.portfolioItem:nth-child(2n) {
  flex-direction: row-reverse;
}

.uploadPortfolioImage {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  cursor: pointer;
  font-size: 1.1rem;
  padding: 10px 20px;
  color: white;
}

.portfolioImg {
  width: 100%;
  min-height: 600px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolioContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 80px;
  color: white;
  background: linear-gradient(77deg, rgba(0,0,0,1) 0%, rgba(60,60,60,1) 100%);
}

.portfolioContent h2 {
  font-size: 2rem;
  color: white;
  font-family: 'Inter', sans-serif;
}

.portfolioContent form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolioContent form button {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  max-width: 400px;
  transition: .3s ease;
}

.portfolioContent form button:hover {
  background: white;
  color: black;
}

.portfolioContent input, .portfolioContent textarea {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
}

.portfolioLinks {
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
}

/* blog panel  */

.blogPanel{
  background: white;
  position: relative;
  transition: .3s ease;
}

/* contact panel  */

.contactPanel{
  background: white;
  position: relative;
  height: 500px;
}
